:root{
    --text-color: #111517;
    --light-bg: #f2f2f2;
    --light-element-bg: #fff;
    /* outline color */
    --dark-outline: var(--text-color);
    outline-offset: 10px;
  }
  /* nunito-sans-300 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/nunito-sans-v15-latin-300.woff2') format('woff2'), 
          url('../fonts/nunito-sans-v15-latin-300.ttf') format('truetype'); 
  }
  /* nunito-sans-regular - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-sans-v15-latin-regular.woff2') format('woff2'), 
        url('../fonts/nunito-sans-v15-latin-regular.ttf') format('truetype'); 
  }
  /* nunito-sans-600 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/nunito-sans-v15-latin-600.woff2') format('woff2'), 
        url('../fonts/nunito-sans-v15-latin-600.ttf') format('truetype'); 
  }
  /* nunito-sans-800 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/nunito-sans-v15-latin-800.woff2') format('woff2'), 
        url('../fonts/nunito-sans-v15-latin-800.ttf') format('truetype'); 
  }
  html{
      box-sizing: border-box;
      height: 100%;
      scroll-behavior: smooth;
  } 
  *::before,
  ::after {
      box-sizing: inherit;
  }
  *:focus{
    outline: 3px dashed var(--dark-outline);
    outline-offset: 3px; 
  }
  body{
      display: flex;
      flex-direction: column;
      background-color: var(--light-bg);
      padding: 0;
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      font-family: "Nunito Sans", Arial, sans-serif;
      height: 100%;
      transition: background-color .3s ease,
          color .3s ease;
  }
  .dark-mode{
    --light-bg: #202c36;
    --light-element-bg: #2b3844;
    --text-color: white;
    --dark-outline: white;
  }
  img{
      max-width: 100%;
      height: auto;
  }
  a{
    text-decoration: none;
  }
  .container{
      width: 100%;
      max-width: 1280px;
      padding-left: 80px;
      padding-right: 80px;
      margin-right: auto;
      margin-left: auto;
  }
  
  /* Header */
  .header {
    padding: 24px 0;
    background-color: var(--light-element-bg);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  }
  .site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .site-header-logo {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    white-space: nowrap;
  }
  .site-header-logo:hover{
    opacity: 0.8;
  }
  .site-header-logo:active{
    opacity: 0.6;
  }
  .mode-toggler {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;
  }
  .mode-toggler:hover{
    opacity: 0.8;
    }
  .mode-toggler:active{
  opacity: 0.6;
}
  .mode-toggler-inner {
    display: flex;
    align-items: center;
    color: var(--text-color);
  }
  .mode-toggler-text {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin-left: 8px;
  }
  .main-content{
      flex-grow: 1;
      padding-top: 45px;
      padding-bottom: 45px;
  }

  /* Filters */
  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }
  .search-input {
    min-width: 480px;
    border-radius: 5px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--light-element-bg);
    border: 0;
    padding: 18px 18px 18px 24px;
    color: var(--text-color );
  }
  .region-select {
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--light-element-bg);
    border: 0;
    padding: 18px 10px 18px 74px;
    color: var(--text-color );
  }
  
  .mode-toggler:hover{
    color: var(--text-color);
    }

  /* Countries */
  .index-countries-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -75px;
    margin-bottom: -75px;
  }
  .index-countries-item {
    width: calc(25% - 75px);
    margin-left: 75px;
    margin-bottom: 75px;
  }
  .index-country {
    border-radius: 5px;
    background-color:var(--light-element-bg);
    color: var(--text-color);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.03);
    overflow: hidden;
  }
  .index-country-img {
    width: 264px;
    height: 160px;
    object-fit: cover;
  }
  .index-country-info {
    padding: 24px 24px 46px 24px;
  }
  .country-name {
    color: var(--text-color);
    font-weight: 800;
    line-height: 26px;
    margin: 0;
    white-space: nowrap;
  }
  .country-link{
    color: var(--text-color);
    font-size: 14px;
    text-decoration: none;
  }
  .country-link:hover{
    opacity: 0.8;
  }
  .country-link:active{
    opacity: 0.6;
  }
  .country-info-description {
    margin: 0;
    padding: 0;
    list-style: none;

  }
  .country-info-description:not(:last-child){
    margin-right: 117px;
  }
  .country-descriptions {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  .country-description-term {
    color: var(--text-color);
    font-weight: 600;
    line-height: 16px;
  }
  .country-description-description {
    color: var(--text-color);
    font-weight: 300;
    line-height: 16px;
    margin: 0;
    margin-left: 5px;
  }

  .country-page {
    background-color: var(--light-element-bg);
  }
  .back{
    margin-bottom: 80px;
  }
  .country-back-link {
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    padding: 10px 39px 10px  32px;
    background-color: var(--light-element-bg);
    border-radius: 6px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);

  }
  .country-back-icon {
    margin-right: 10px;
  }
  .country-back-text {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
  }


  /*  */
  .country-page-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .country-page-img{
    width: 560px;
    height: 340px;
  }
  .country-page-country-name{
    color: var(--text-color);
    font-size: 32px;
    font-weight: 800;
    line-height: 44px;
    margin: 0;
    margin-bottom: 23px;
  }
  .country-page-country-descriptions-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .country-page-country-descriptions:not(:last-child){
    margin-bottom: 8px;
  }
  .country-page-country-description-term{
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    margin-right: 5px;
  }
  .country-page-country-descriptions{
    display: flex;
    color: var(--text-color);
  }
  .country-page-country-description-description{
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
  }
  
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
  
  }